* {
    margin: 0;
    padding: 0;

}
#akan{
    font-size: 60px;
}

.navigation {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: chocolate;
    height: 20vh;

}
.navigation ul {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.navigation ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

.navigation ul li a {
    list-style: none;
    text-decoration: none;
    color: wheat;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
a.home, a:hover {
    background-color: black;
    transition: .5s;
}

.name {
    background-image: url(dav2.jpg);
    height: 100vh;
    display: block;
}
.name p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-size: 15px;
    background-color: darksalmon;
    height:100vh;
    
      
}
#home {
    background-image: url("image.jpg");
}
.container p{
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: aliceblue;
    background-image: url("proud.jpg");
    background-size: auto;
    background-color: gainsboro;
    height: 100vh;
    font-style: normal;
    color: black;
}
#project {
    margin: 0;
    padding:0;
    background-image: url("ocean.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.aName{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkslategray;
    color: beige;
}
.dBirth{
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: auto;
    color:black;
}
.gSelection{
  cursor: pointer;
  font-size: 30px;
  color: black;
}
.genderBox {
    font-size: 40px;
    margin: auto;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#formSelectors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
#fRadio {
    cursor: pointer;

}
#mRadio {
    cursor: pointer;

}
#dTe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:auto;
  background-image: url("https://i.pinimg.com/564x/28/2c/5b/282c5b479328b989c4f91ce5c7de7848.jpg");
  color: black;
  width: 600px;
  height: 70px;
  border: none;
  border: 2px solid blueviolet;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}
.cSubmit {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#display {
    border-radius: 1px;
    border: 2px solid blueviolet;
    width:600px;
    background-image: url("https://i.pinimg.com/564x/28/2c/5b/282c5b479328b989c4f91ce5c7de7848.jpg");
    font-size: 30px;
    
}

